.popupselect{
    width: 100%;
    padding: 0.5rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    border: rgb(216, 213, 213) 1px solid;
    border-radius: 2px;
    color:rgb(146, 144, 144)  ;
}