<app-commonalertpage
  [messageId]="messageId"
  *ngIf="showPopup == 1"
></app-commonalertpage>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <p class="Heading">Employee Details</p>
        <img
          src="assets/Images/revamp/cancle-icon.png"
          (click)="cancel()"
          class="closeicon"
        />
      </div>

      <div class="popupcontent">
        <div class="popupinputs">
          <p>Client<span class="span">*</span></p>
          <div>
            <select
              class="form-control inputfield"
              id="ClientID"
              (change)="getOfficeLocation($event)"
              [(ngModel)]="ClientID"
              name="ClientID"
            >
              <option selected disabled value="0">Select Client</option>
              <option
                value="{{ leavetype.id }}"
                *ngFor="let leavetype of CompanyData"
              >
                {{ leavetype.companyName }}
              </option>
            </select>
          </div>
        </div>
        <div class="popupinputs">
          <p>Employee Code<span class="span">*</span></p>
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Employee Code"
              [(ngModel)]="employeeCode"
              name="employeeCode"
              id="employeeCode"
            />
          </div>
        </div>

        <div class="popupinputs">
          <p>First Name<span class="span">*</span></p>
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="First Name"
              [(ngModel)]="firstName"
              name="firstName"
              id="firstName"
            />
          </div>
        </div>

        <div class="popupinputs">
          <p>Last Name<span class="span">*</span></p>
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Last Name"
              name="lastName"
              [(ngModel)]="lastName"
              id="lastName"
            />
          </div>
        </div>
        <div class="popupinputs">
          <p>ID Number<span class="span">*</span></p>
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="ID Number"
              name="idNumber"
              [(ngModel)]="idNumber"
              id="idNumber"
            />
          </div>
        </div>
        <div class="popupinputs">
          <p>Joining Date<span class="span">*</span></p>
          <div>
            <input
              type="date"
              class="form-control"
              name="joiningDate"
              [(ngModel)]="joiningDate"
              id="joiningDate"
              onkeydown="return false"
            />
          </div>
        </div>
        <div class="popupinputs">
          <p>Phone Number<span class="span">*</span></p>
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Phone Number"
              pattern="[6789][0-9]{9}"
              maxlength="10"
              [(ngModel)]="phoneNo"
              name="phoneNo"
              id="phoneNo"
              [minlength]="10"
              [maxlength]="10"
            />
          </div>
        </div>
        <div class="popupinputs">
          <p>Email ID<span class="span">*</span></p>
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Email ID"
              [(ngModel)]="emailID"
              name="emailID"
              id="emailID"
              (click)="validateEmail()"
            />
          </div>
        </div>

        <!-- <div class="popupinputs">
                    <p>Employee Status<span class="span">*</span></p>
                    <div>
                        <select class="form-control inputfield" id="Status" [(ngModel)]="employeeStatus"  name="Status" >
                            <option selected disabled value="">Select Employee Status</option>
                            <option value="Permanent">Permanent</option>
                            <option value="Contract Based">Contract Based</option>
                        </select>
                    </div>
                </div> -->

        <div class="popupinputs">
          <p>Gender<span class="span">*</span></p>
          <div>
            <select
              class="form-control inputfield"
              id="Gender"
              [(ngModel)]="gender"
              name="Gender"
            >
              <option selected disabled value="">Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>

        <div class="popupinputs">
          <p>Address<span class="span">*</span></p>
          <div>
            <input
              class="form-control"
              ngx-google-places-autocomplete
              [options]="autocompleteOptions"
              #placesRef="ngx-places"
              (onAddressChange)="handleAddressChange($event)"
              [(ngModel)]="Address"
              name="Address"
              id="Address"
            />
            <!-- <input type="text" class="form-control" placeholder="Address" [(ngModel)]="Address"
                            name="Address" id="Address" (ngModelChage)="getlocation(Address)"> -->
          </div>
        </div>

        <div class="popupinputs">
          <p>Area<span class="span">*</span></p>
          <div>
            <select
              class="form-control inputfield"
              [(ngModel)]="AreaID"
              name="AreaID"
              id="AreaID"
            >
              <option selected disabled value="">Select Area</option>
              <option *ngFor="let data of AreaData" value="{{ data.id }}">
                {{ data.short }}
              </option>
            </select>
          </div>
        </div>

        <!-- <div class="popupinputs">
                    <p>Longitude<span class="span">*</span></p>
                    <div>
                        <input type="text" disabled class="form-control" placeholder="Longitude" [(ngModel)]="Longitude"
                            name="Longitude" id="Longitude" />
                    </div>
                </div> -->

        <div class="popupinputs">
          <p>Office Location<span class="span">*</span></p>
          <div>
            <select
              class="form-control inputfield"
              id="OfficeLoactionID"
              name="OfficeLoactionID"
              [(ngModel)]="OfficeLoactionID"
              (change)="getdistance($event)"
            >
              <option selected disabled value="0">
                Select Office Location
              </option>
              <option
                *ngFor="let leavetype of OfficeLoactionsData"
                value="{{ leavetype.id }}"
              >
                {{ leavetype.officeLoactionCode }}
              </option>
            </select>
          </div>
        </div>
        <!-- <div class="popupinputs">
                    <p>Latitude<span class="span">*</span></p>
                    <div>
                        <input type="text" disabled class="form-control" placeholder="Latitude" [(ngModel)]="Latitude"
                            name="Latitude" id="Latitude" />
                    </div>
                </div> -->

        <div class="popupinputs">
          <p>Distance<span class="span">*</span></p>
          <div>
            <input
              type="text"
              disabled
              class="form-control"
              placeholder="Distance"
              [(ngModel)]="Distance"
              name="Distance"
              id="Distance"
            />
          </div>
        </div>

        <!-- <agm-map 
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                [disableDefaultUI]="false"
                [zoomControl]="false"
                (mapClick)="mapClicked($event)"> 
              
                <agm-marker 
                    *ngFor="let m of markers; let i = index"
                    (markerClick)="clickedMarker(m.label, i)"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    [label]="m.label"
                    [markerDraggable]="m.draggable"
                    (dragEnd)="markerDragEnd(m, $event)">
                    
                  <agm-info-window>
                    <strong>InfoWindow content</strong>
                  </agm-info-window>
                  
                </agm-marker>
                
                <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
                    [radius]="5000"
                    [fillColor]="'red'"
                    [circleDraggable]="true"
                    [editable]="true">
                </agm-circle>
              
              </agm-map> -->
        <div class="d-flex justify-content-end w-100 mt-4 mb-2 pr-2">
          <button class="close-button" (click)="cancel()">Cancel</button>
          <button
            *ngIf="ID == undefined"
            class="submit-button"
            (click)="insertEmployee()"
          >
            Submit
          </button>
          <button
            *ngIf="ID != undefined"
            class="submit-button"
            (click)="updateEmployee()"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
